:root {
    --main-bg-color-light: rgba(52, 78, 65, .95);
        --main-bg-color-dark: hsl(150, 20%, 25%);
    --main-txt-color-light: #DAD7CD;
    --main-txt-color-dark: #344E41;

    /* colors theme colors */
    /* 
                #A3B18A
                #588157
                #3A5A40 */
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
        font-family: system-ui;
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
}

/* Header elements */
header {
    width: 100%;
    background: var(--main-bg-color-light);
        display: flex;
        align-items: center;
        padding: .8em;
}

.logo {
    color: white;
    margin: 0;
}

.nav-toggle {
    display: none;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-block: 0;
}

.nav-link {
    font-size: clamp(0.5rem, 3vw, 1.2rem);
    color: var(--main-txt-color-light);
    font-weight: bold;
    text-decoration: none;
        position: relative;
        margin-left: 1.5em;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #66fc63;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
}

.nav-link:hover::before {
    transform: scale(1, 1);
}

/* Banner section */
.banner-container {
        --spike-color: white;
        --spike-width: 78px;
        --spike-height: 20px;
    position: relative;
        width: 100%;
        background: linear-gradient(rgb(52, 78, 65), #3A5A40, #588157, hsl(154, 20%, 25%), #588157, #3A5A40, #344E41);
        
.banner-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    background-color: var(--spike-color);
    -webkit-mask-image: url('./pages/assets/triangle.svg');
    -webkit-mask-size: var(--spike-width) var(--spike-height);
    mask-image: url('./pages/assets/triangle.svg');
    mask-size: var(--spike-width) var(--spike-height);
    bottom: 0;
        transform: rotate(.5turn);

}

.banner {
    width: 100%;
    color: var(--main-txt-color-light);
    padding-top: .8em;
        padding-left: .8em;
}

.intro-header {
    font-size: clamp(1.125rem, 8vw, 3.2rem);
    margin: 0.01em;
    line-height: 1.2;
}

.intro-text {
    font-size: clamp(0.875rem, 2vw, 1.2rem);
}

.about-link {
    color: #000000;
    font-size: 1.3rem;
}
.join-button {
    margin-left: 0.5em;
}
.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--main-);
    padding: 0.8em 1.2em;
    font-size: 1.2em;
    color: #000000;
    border-radius: 5px;
    border: #DAD7CD 2px solid;
        box-shadow: #fff 2px 2px 5px;
}

.button:hover {
    background-color: #588157;
        color: var(--main-txt-color-light);
    box-shadow: #000000 2px 2px;
}
/* active link */

.active {
    color: #66fc63;
}


/* Navbar small screens */
@media only screen and (max-width: 650px) {
    header {
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        z-index: 888;
        text-align: center;
    }

    nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--main-bg-color-light);
    }

    .nav-toggle:checked~nav {
        display: block;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: .8em;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        width: 1.5em;
        height: 2px;
        background: white;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }

    .nav-toggle-label span::before {
        top: 7px;
    }

    .nav-toggle-label span::after {
        bottom: 7px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        padding: .3em;
        list-style: none;
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: .8em;
    }
}