:root {
--french-mauve: hsla(299, 48%, 58%, 1);
--indigo: hsl(284.1, 100%, 60.8%);
--sunglow: rgb(204, 142, 8);
--honeydew: hsla(105, 67%, 96%, 1);
--dark: rgb(11  11  10 );
}

*,
*::before,
*::after {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* 
    Resets
*/

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* 
    typography styles
*/


/* 
    Navigation Mobile
*/

nav {
    position: relative;
    display:grid;
    grid-template-columns: fit-content(100%) 1fr;
    padding-block: 1.5rem;
    padding-inline: 1rem;
    background-color: var(--french-mauve);
}

nav h3 a {
    color: var(--honeydew);
    font-size: 1.5rem;
    letter-spacing: .05rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    color: var(--honeydew);
}

.nav-links li {
    padding-block: .5rem;
    list-style-type: none;
}

#toggle-nav {
    justify-self: end;
}

#toggle-nav label {
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--honeydew);
    cursor: pointer;
}

.nav-xl {
    display: none;
}

.nav-toggle-close i {
    color: #dc3232;
    font-size: 2rem;
    padding-block: .8rem;
    padding-inline: 1rem;
}

#nav-toggle:checked ~ .nav-xl{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--dark);
}

.services-wrapper{
    background-color: var(--french-mauve);
    border-radius: 4%;
}

.services-dropdown {
    display: none;
    padding: 0;
}

#dropdown-services:checked ~ .services-dropdown {
    display: block;
    background-color: var(--indigo);
    width: 100%;
}

@media (width > 601px) {
    #toggle-nav {
        display: none;
    }

    .nav-toggle-close {
        display: none;
    }

    .nav-xl {
        display: flex;
        justify-content: center;
    }

    .nav-links {
        flex-direction: row;
        gap: 1.5rem;
    }
}

