:root {
--french-mauve: hsla(299, 48%, 58%, 1);
--indigo: hsl(284.1, 100%, 60.8%);
--sunglow: rgb(204, 142, 8);
--honeydew: hsla(105, 67%, 96%, 1);
--dark: rgba(11 , 11 , 10 , .98);
}

*,
*::before,
*::after {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* 
    Resets
*/

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* 
    typography styles
*/


/* 
    Navigation Mobile
*/

.logo-wraper {
    display: flex;
    justify-content: center;
}

.logo {
    width: 70px;
    object-fit: contain;
    aspect-ratio: 1/1;
    margin-left: .5rem;
    margin-bottom: -7px;
}

nav {
    position: relative;
    display:grid;
    grid-template-columns: fit-content(100%) 1fr;
    align-items: center;
    padding-block: 1.5rem;
    padding-inline: 1rem;
    background-color: var(--french-mauve);
}

.logo-wraper a {
    color: var(--honeydew);
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logo-wraper h3 {
    margin-left: .5rem;
    display: inline;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 4rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--honeydew);
}

.nav-links li {
    list-style-type: none;
}

#toggle-nav {
    justify-self: end;
}

#toggle-nav label {
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--honeydew);
    cursor: pointer;
}

.nav-mobile {
    display: none;
}

.nav-toggle-close {
    display: flex;
    justify-content: flex-end;
    padding-bottom: .5rem;
}

.nav-toggle-close i {
    color: hsl(0, 88.2%, 70%);
    font-size: 2.5rem;
    padding-top: 1.5rem;
    padding-inline: 2rem;
}

#nav-toggle:checked ~ .nav-mobile{
    display: flex;
    flex-direction: column;
    gap: 2.5rem .5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(45, 45, 43, 0.99);
}

.services-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.services-dropdown {
    display: none;
    margin-top: .3rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.services-links li a {
    font-size: .9rem;
    font-weight: 200;
    font-family: "inter", sans-serif;
    padding-bottom: .4rem;
}

.services-links li a:hover,
.services-links li a:focus,
.services-links li a:focus-visible,
.services-links li a:focus-within {
    color: var(--dark);
    text-decoration: underline 2px;
    text-decoration-color: var(--sunglow);
}

#dropdown-services:checked ~ .services-dropdown {
    display: flex;
    padding-block: .1rem;
    padding-inline: .3rem;
    background-color: var(--indigo);
    width: 100%;
}

#dropdown-services:checked ~ .services-dropdown {
    box-shadow: 2px 5px 8px rgba(7, 7, 7, 0.74);
}

.nav-banner {
    display: flex;
    justify-content: center;
    width: 200px;
    padding-top: 2rem;
    margin: 0 auto;
}

#g88 {
    fill: var(--french-mauve);
}

.social-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 2rem;
}


@media (width > 601px) {
    #toggle-nav {
        display: none;
    }

    .nav-toggle-close {
        display: none;
    }

    .nav-mobile {
        display: none;
    }
}

