:root {
--french-mauve: #c660c7;
--indigo: #ca37ff;
--sunglow: rgb(209, 186, 58);
--honeydew: #f1fcee;
--dark: #1f1f1f;

font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* 
    Resets
*/

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* 
    typography styles
*/


/* 
    Navigation Mobile
*/

.logo-wraper {
    display: flex;
    justify-content: center;
}

.svg1, .svg2 {
    width: 150px;
    object-fit: contain;
    aspect-ratio: 1/1;
    margin-inline: .5rem;
}

.svg2 {
    width: 70px;
}

nav {
    position: relative;
    display:grid;
    grid-template-columns:fit-content(100%) fit-content(100%);
    align-items: center;
    justify-content: space-between;
    padding-block: 1.3rem;
    padding-inline: .8rem;
    gap: 1rem;
    background-color: #242121;
    z-index: 100;
}

.logo-wraper a {
    color: var(--honeydew);
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    gap: 1rem;  
    align-items: center;
}
.logo-wraper h3 {
    text-align: center;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: clamp(.9rem, 7vw, 1.9rem);
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: clamp(.9rem, 6vw, 1.3rem);
    font-weight: 500;
    color: var(--honeydew);
}

.nav-links li {
    list-style-type: none;
}

#toggle-nav {
    justify-self: end;
}

 #toggle-nav:hover, #toggle-nav:focus { 
    transform: scale(1.3);
}

#toggle-nav label {
    padding: 0.15rem;
    border: none;
    background-color: transparent;
    font-size: clamp(.9rem, 6vw, 1.9rem);
    color: var(--honeydew);
    cursor: pointer;
}

.nav-xl{
    display: none;
}

.nav-mobile {
    display: none;
}

.nav-toggle-close {
    display: flex;
    justify-content: flex-end;
    padding-left: .3rem;
    padding-top: .8rem;
    padding-bottom: .5rem;
}

.nav-toggle-close i {
    color: hsl(0, 88.2%, 70%);
    font-size: 2.5rem;
    padding-inline: 2rem;
}

#nav-toggle:checked ~ .nav-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3.5rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    overflow-y: scroll;
    animation: slide-in  .8s forwards;
    transition: all 2s; /* Optioneel voor soepele overgangen */
    background-color: var(--dark);
}


.services-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-wrapper li label {
    cursor: pointer;
}   

.services-dropdown {
    display: none;
    margin-top: .3rem;
    width: 100%;
}

.services-links li a {
    font-size: .9rem;
    font-weight: 200;
    font-family: "inter", sans-serif;
    padding-bottom: .4rem;
}

.services-links li a:hover,
.services-links li a:focus {
    text-decoration: underline 2px;
    text-decoration-color: var(--sunglow);
}

#dropdown-services:checked ~ .services-dropdown {
    display: flex;
    padding-block: .5rem;
    padding-inline: .7rem;
    animation: slide-down 0.4s ease-in;
    transition: all .6s;
}

.nav-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.social-nav-wrapper {
    color: var(--honeydew);
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.hero-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-image: url("./assets/bannerpic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 1 / 1;    

    .hero-content {
        align-content: center;
        padding-inline: .8rem;
        font-size: clamp(1.3rem, 2vw, 1.9rem);
        color: var(--honeydew);
        background-color: rgb( 31, 31, 31, 0.7);
    }

    .hero-content p {
        font-size: clamp(.9rem, 2vw, 1.2rem);
        font-style: italic;
        padding-bottom: .3rem;
    }

    
    .scedule-btn, .services-btn {
        display: inline-block;
        max-width: fit-content;
        margin: .3rem auto ;
        padding: .6rem .4rem;
        background-color: var(--french-mauve);
        color: var(--dark);
        font-size: clamp(.9rem, 1vw, 1.2rem);
        font-weight: 600;
        border-radius: 8px;
        box-shadow: inset 5px 8px 7px var(--indigo);
    }

    .services-btn {
        background-color: var(--sunglow);
        box-shadow: 5px 8px 7px var(--dark);
    }

}

.intro-con {
    position: relative;
    text-align: center;
    background-color: var(--dark);
    color: var(--honeydew);
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding-block: 4rem;
    padding-inline: .8rem;
}

.intro-content h2 {
    font-size: clamp(3rem, 11vw, 3.5rem);
    font-weight: 400;
    padding-block: 1.2rem;
    text-emphasis: dot var(--indigo);
}

.intro-content span {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 300;
    padding-bottom: .3rem;
}


.intro-con a {
    display: block;
    color: var(--sunglow);
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--french-mauve);
   
}

.homepage-image {
        max-width: 70%;
        object-fit: cover;
        aspect-ratio: .5/.5;
        border-radius: 15px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }   


#service-con{
    display: grid;
    gap: 1rem;
    padding-block: 5rem;
    background-image: 
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><path d="M500 4c-125 0-125 96-250 96S125 4 0 4V0h1000v4c-125 0-125 96-250 96S625 4 500 4Z" fill="%231F1F1F"></path></svg>'),
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" transform="scale(1, -1)" viewBox="0 0 1000 100"><path d="M500 4c-125 0-125 96-250 96S125 4 0 4V0h1000v4c-125 0-125 96-250 96S625 4 500 4Z" fill="%231F1F1F"></path></svg>'),
    linear-gradient(-135deg,var(--sunglow)30%, var(--indigo));
    background-repeat: no-repeat;
    background-position: top, bottom, center;
    justify-items: center;

    h2{
        font-size: clamp(1.7rem, 10vw, 3.5rem);
        padding-block-start: 3.5rem;
        text-align: center;
    }
}

#problems-con{
    background-color: var(--dark);
    color: var(--honeydew);
    text-align: center;
    padding-inline: .8rem;
    padding-block: 5rem;

    h2{
        font-size: clamp(1.7rem, 11vw, 3.5rem);
        padding-block-end: 3.5rem;
    }

    h3 {
        font-size: clamp(1.5rem, 3vw, 2.5rem);
        padding-block: 1.5rem;
        color: var(--sunglow);
    }

    ul {
    width: 60vw;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 3px 20px var(--indigo);

        li {
            font-size: clamp(1rem, 3vw, 1.6rem);
            font-style: italic;
            letter-spacing: .03rem;
            list-style-type: none;
            padding-block: 1.3rem;
            color: var(--honeydew);

            .problem-icon {
                font-size: 2rem;
                display: inline-block;
            }
        }
    }
}


.problems-span{
    font-size: clamp(.9rem, 3vw, 1.3rem);
}


#serviceCarousel {
  width: 100vw;
  padding: 30px;
  display: flex;
  gap: 3vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  anchor-name: --my-carousel;
}

#serviceCarousel li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  color: var(--honeydew);
  background-color: var(--dark);
  border-radius: 10px;
  padding: 20px;
  
  /* Flex item breedte fallbacks */
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  
  /* Scroll Snap Alignment */
  scroll-snap-align: center;
}

/* --- PROGRESSIVE ENHANCEMENT VOOR NIEUWE CAROUSEL PSEUDO-ELEMENTEN --- */

#serviceCarousel::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: rgb(236, 234, 234);
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  position-anchor: --my-carousel;
}

#serviceCarousel::scroll-button(*):hover,
#serviceCarousel::scroll-button(*):focus {
  opacity: 1;
}

#serviceCarousel::scroll-button(*):active {
  transform: translate(1px, 1px);
}

#serviceCarousel::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}


#serviceCarousel::scroll-marker-group {
  position: absolute;
  position-anchor: --my-carousel;
  top: calc(anchor(bottom) - 50px);
  justify-self: anchor-center;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

#serviceCarousel li::scroll-marker {
  content: attr(data-accName);
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid var(--indigo);
  border-radius: 50%;
  overflow: hidden;
  text-indent: 16px;
}

#serviceCarousel li::scroll-marker:target-current {
  background-color: var(--french-mauve);
}

#services-con {
    padding-block: 2rem;
    background-color: var(--dark);
    color:var(--honeydew);
}

#services-con h2 {
    font-size: clamp(1.6rem, 2vw, 2.5rem);
    text-align: center;
    color: var(--honeydew);
}

.services-card {
    min-width: 300px;
    padding: .6rem .5rem;
    font-size: .8rem;
    text-align: center;
    color: var(--honeydew);
}

.services-card h4 {
    font-size: clamp(1.3rem, 3vw, 1.7rem);
    color: var(--sunglow);
    padding-bottom: .3rem;
}

.services-card a {
    margin-top: .3rem;
    display: inline-block;
    padding: .6rem .5rem;
    background-color: var(--sunglow);
    color: var(--dark);
    font-size: clamp(.9rem, 1vw, 1.2rem);
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 2px 4px 5px;
}

.card-image {
    padding: .5rem;
    font-size: 3rem;
    background-image: linear-gradient(var(--sunglow), var(--indigo));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-link-big {
    padding: .6rem .5rem;
    background-color: var(--sunglow);
    color: var(--dark);
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 2px 1px 3px var(--indigo);
}


.solutions {
    display:flex; 
    flex-wrap: wrap;    
    justify-content: center;
    gap: 1.5rem;
}

.solution-card {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark);
    padding: .6rem;
    border-radius: 10px;
    border: 2px var(--indigo) solid;
    box-shadow: 1px 1px 3px var(--indigo);

    h4{
        font-size: clamp(1rem, 3vw, 1.4rem);
        color: var(--sunglow);  
        padding-bottom: .3rem;  
    }
}

.solution-icon{
    font-size: clamp(1.1rem, 10vw, 3rem);
    background-image: linear-gradient(var(--sunglow), var(--indigo));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: .3rem;
}


.solution-card p {
    font-size: clamp(.8rem, 3vw, 1.3rem);
    letter-spacing: 0.025rem;
    color: var(--honeydew);
    padding-top: .3rem;
  
}

#service-bundle-con {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-image: 
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><path d="M0 0v4c136 143.8 183.8-73.2 297 26.6 72.2 63.7 97 99 184.7 33.2a30.5 30.5 0 0 1 36.6 0c87.6 65.8 112.5 30.5 184.7-33.2C816.2-69.2 864 147.7 1000 4V0H0Z" fill="%231F1F1F"></path></svg>'),
    linear-gradient(165deg,var(--sunglow)30%, var(--indigo));
    background-repeat: no-repeat;
    background-position: top;
    padding-block: 3.5rem;
    width: 100%;

    h2 {
        padding-block-start: 3.5rem;
        padding-inline: .8rem;
        font-size: clamp(1rem, 9vw, 4.5rem);
        text-align: right;
    }

    #bundleCarousel {
        padding: 30px;
        display: flex;
        gap: 3vw;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        anchor-name: --my-bundle-carousel;

        .li-bundle {
            list-style-type: none;
            
            /* Flex item breedte fallbacks */
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            
            /* Scroll Snap Alignment */
            scroll-snap-align: center;
        }
        
    }

    #bundleCarousel::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: rgb(236, 234, 234);
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    position-anchor: --my-carousel;
    }

    #bundleCarousel::scroll-button(*):hover,
    #bundleCarousel::scroll-button(*):focus {
    opacity: 1;
    }

    #bundleCarousel::scroll-button(*):active {
    transform: translate(1px, 1px);
    }

    #bundleCarousel::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: unset;
    }


    #bundleCarousel::scroll-marker-group {
    position: absolute;
    position-anchor: --my-bundle-carousel;
    top: calc(anchor(bottom) - 50px);
    justify-self: anchor-center;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
    }

    #bundleCarousel li::scroll-marker {
    content: attr(data-accName);
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid var(--indigo);
    border-radius: 50%;
    overflow: hidden;
    text-indent: 16px;
    }

    #bundleCarousel li::scroll-marker:target-current {
    background-color: var(--french-mauve);
    }


    .bundle-card{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        background-color: var(--dark);
        padding-block: 1rem;
        padding-inline: 1.2rem;
        border-radius: 10px;
        box-shadow: 3px 4px 8px var(--french-mauve);
        color: var(--sunglow); 

        h4{
            font-size: clamp(1.3rem, 3vw, 1.7rem);
            background-image: linear-gradient(90deg, var(--indigo)5%, var(--sunglow));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            color: transparent;
            i {
                font-size: 2.5rem;
            }
        }

        h6 {
            font-size: clamp(1rem, 2vw, 1.5rem);
            padding-block: .3rem;
        }

        p{
            font-size: clamp(.9rem, 2vw, 1.3rem);
            padding-block-start: .1rem;
            padding-block-end: .3rem;
            color: var(--honeydew);
        }

        .bundle-list {
            font-size: clamp(.9rem, 3vw, 1rem);
            padding-block-end: 1rem;

            li {
                padding-block-end: .3rem;
                color: var(--honeydew);
            }
        }
    }


    .bundles-link {
        width: fit-content;
        margin: 0 auto;
        padding: .6rem .5rem;
        background-color: var(--sunglow);
        color: var(--dark);
        font-size: clamp(.9rem, 1vw, 1.2rem);
        font-weight: 600;
        border-radius: 8px;
        box-shadow: 2px 4px 5px;
    }
}

.cmp-quote {
    text-align: center;
    border-top: 2px solid var(--honeydew);
    background-color: var(--dark);
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23F1FCEE' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23F1FCEE'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
    padding: 1.8rem;
    color: var(--honeydew);
    letter-spacing: .03rem;
    font-weight: 600;

    h6 {
        font-size: clamp(1.5rem, 5vw, 2rem);
        padding-block-end: .3rem;
        text-decoration:overline;
    }

    p {
        font-style: italic;
        font-size: clamp(.9rem, 5vw, 1.1rem);
    }
}

footer {
    background-color: var(--dark);
    color: var(--honeydew);
    display: grid;
    grid-template-areas: 
    "links links contact"
    "location location location"
    "rechten rechten rechten";
    padding-block-end: .3rem;
    padding-block-start: .8rem;
    gap: .3rem;
}

.footer-links {
    grid-area: links;
    padding-left: .8rem;
    padding-bottom: .8rem;
}

.footer-links ul li {
    list-style-type: none;
    padding-bottom: .3rem;
}


.location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: location;
    border-bottom: 1px solid var(--indigo);
    justify-items: center;
    align-items: center;
}

.google-maps {
    width: 100%;
    height: 80%;
    background-position: center;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding-inline: .8rem;
}

.footer-contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: .8rem;
    padding-left: .8rem;
    letter-spacing: 0.015rem;
    font-size: clamp(.9rem, 2vw, 1.1rem);
    border-left: 1px solid var(--sunglow);

    h4 {
        text-align:left;
        padding-block: .3rem;
    }
}

.contact-link{
    display: block;
    padding-block: .1rem;

    i {
	    padding-inline-end: .3rem;
    }
}

.contact{
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    padding-inline-end: .8rem;
}


.rechten{
    grid-area: rechten;
    text-align: center;
    padding-top: .3rem;
    font-size: .8rem;
}


.adress span {
    display: block;
    padding-bottom: .6rem;
    padding-left: .8rem;
}

.adress span:last-child{
    margin-bottom: .8rem;
} 

.active {
    border-bottom: 2px var(--sunglow) solid;
}



@keyframes slide-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media(width > 768px){
    .intro-con {
        flex-direction: row;
        align-items: center;
        padding-block: 2rem;
    }

    .intro-content {
        flex-grow: 2;
    }

    #problems-con {
        padding-bottom: 7rem;
    }
    #problems-con h2 {
        padding-top: 6rem;
    }

    #solution-con{
        padding-bottom: 4rem;
    }
}

@media (width > 992px) {
    #toggle-nav {
        display: none;
    }

    .nav-mobile {
        display: none;
    }
    .nav-xl{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    .nav-links {
        flex-direction: row;
        gap: 2.5rem;
        font-weight: 800;
        font-size: clamp(.9rem, 2vw, 1.3rem);
    }

    .services-wrapper li {
        position: relative;
    }

    #dropdown-services-xl:checked ~ .services-dropdown {
        position: absolute;
        bottom: -10px;
        display: flex;
        padding-block: .5rem;
        padding-inline: .3rem;
    }

    .services-links{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap:1.5rem;
        padding-inline: 1rem;
        padding-bottom: .3rem;
    }

     .services-links li a:hover,
     .services-links li a:focus {
        text-decoration: underline 2px;
        text-decoration-color: var(--sunglow);
    }
}

