:root {
    --main-bg-color: hsl(276, 73%, 72%);
}



.header{
    background: var(--main-bg-color);
}

.banner-wr {
    background: var(--main-bg-color);
}

.btn-vakken {
    background-color: rgb(245, 255, 99);
    font-weight: 600;
}

footer {
    background-color: var(--main-bg-color);
    color: white;
}