@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&display=swap');

:root {
    --main-bg-color-light: hsl(150, 93%, 82%);
    --main-bg-color-dark: hsl(150, 20%, 25%);
    --main-txt-color-light: #DAD7CD;
    --main-txt-color-dark: #31463c;
    --spike-color: rgb(255, 255, 255);
    --spike-width: 78px;
    --spike-height: 20px;
}


 /* Footer */
 footer {
    font-family: "Roboto", sans-serif;
    background-color: var(--main-txt-color-dark);
    color: var(--main-txt-color-light);
    padding: .7rem;
}

.links-footer-wrapper>div {
    margin-bottom: .5em;
}

.links-footer-wrapper div h4 {
    display: inline-block;
}

#afterskool {
    display: none;
    width: 30px;
}

#afterskool:checked ~ .content-links-footer {
    display: block;
}

.chevron-down-label {
    display: inline-block;
    width: 40px;
    height: 30px;
}


.chevron-down {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 30px;
}

.chevron-down::before,
.chevron-down::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 5px;
    bottom: 3px;
    left: 10px;
    border-radius: 50%;
    background-color: var(--main-bg-color-light);
}

.chevron-down::before {
    transform: rotateZ(45deg);
    left: 5px;
}

.chevron-down::after {
    transform: rotateZ(-45deg);
    left: 15px;
}

.content-links-footer {
    display: none;
    z-index: 1;
    animation-name: flowUp;
    animation-duration: .5s;
    animation-timeline: view(block);
}

@keyframes flowUp {
    from {
        transform: scaleY(0);
        transform-origin: top;
    }
    to {
        transform: scaleY(1);
    }
}

.list-link-footer li {
    list-style-type: none;
    font-size: .8rem;
}

.link-footer {
    font-family: "Roboto", sans-serif;
    color: var(--main-txt-color-light);
}

.link-footer:hover,
.link-footer:focus,
.link-footer:active{
    color: yellow;
    font-size: 1rem;
}

.newsletter-wrapper p {
    font-size: .7rem;
    font-weight: bold;
}

.newsletter-form-wrapper form {
    margin-block: .7rem;
    background-color: white;
    width: fit-content;
}

.email-input,
.email-button {
    height: 40px;
    padding: .3rem;
    border: none;
}

.email-input {
    display: inline;
}

.email-button {
    width: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
}

.extra-footer-links {
    display: flex;
    justify-content: space-evenly;
    padding: .7rem;
}

.extra-footer-links a {
    color: var(--main-txt-color-light);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.social-link img {
    width: 25px;
}
