
.about-banner {
    display: grid;
    background-image: linear-gradient(135deg,var(--french-mauve), var(--indigo)60%);
    padding-inline: .3rem;
    padding-bottom: .8rem;
    text-align: center;
        color: var(--dark);
}

.about-banner h1 {
    font-size: clamp(2.2rem, 5vw, 3.5rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 2rem;
}

.about-h1-undertxt{
    font-size: clamp(.8rem, 3vw, 1rem);
}

.about-banner-img {
    aspect-ratio: 1;
    clip-path: shape(from 87.45% 45.02%,curve to 92.48% 56.45% with 90.99% 50.00%,curve to 92.05% 69.35% with 93.97% 62.91%,curve to 82.42% 77.15% with 90.14% 75.80%,curve to 71.01% 83.22% with 74.69% 78.49%,curve to 61.91% 91.53% with 67.33% 87.95%,curve to 49.74% 96.95% with 56.49% 95.12%,curve to 38.70% 91.46% with 42.99% 98.79%,curve to 25.99% 85.79% with 34.41% 84.13%,curve to 15.38% 80.54% with 17.56% 87.44%,curve to 14.30% 66.90% with 13.20% 73.65%,curve to 13.33% 55.08% with 15.41% 60.16%,curve to 11.20% 44.30% with 11.25% 50.00%,curve to 11.95% 32.32% with 11.14% 38.59%,curve to 16.84% 21.25% with 12.75% 26.06%,curve to 27.31% 15.38% with 20.92% 16.44%,curve to 38.83% 11.12% with 33.70% 14.32%,curve to 50.39% 5.23% with 43.95% 7.93%,curve to 62.85% 5.60% with 56.83% 2.53%,curve to 72.70% 14.03% with 68.88% 8.67%,curve to 79.11% 24.51% with 76.53% 19.39%,curve to 82.80% 34.84% with 81.69% 29.63%,curve to 87.45% 45.02% with 83.91% 40.04%);
    width: 100%;
    object-fit: contain;
    padding-block: .3rem;
    padding-inline: .8rem;
}

.cta-link{
    background-color: var(--sunglow);
    padding-inline: 1.3rem;
    padding-block:.3rem;
    border-radius: 5px;
    border: inset var(--dark) 1px;
    box-shadow: 2px 2px 4px var(--dark);
}


.about-main {
    text-align: center;
}

.about-title {
    background-image: linear-gradient(var(--indigo)20%, var(--dark)35%);
    padding-top: 2rem;
}

.about-title h2 {
    padding-top: 2rem;
    font-size: clamp(2.5rem, 2vw, 3rem);
    color: var(--french-mauve);
}

.about-cnt {
    display: grid;
    justify-items: center;
    gap: .8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    background-color: var(--dark);
    color: var(--honeydew);
    letter-spacing: .023rem;
    padding-inline: 1rem;
    padding-block: 1rem;

}

.about-cnt .cta-link {
    display: block;
    width: fit-content;
    padding-block: 1rem;
    padding-inline: .8rem;
    color: var(--dark);
    font-weight: 600;
    border: none;
    box-shadow: var(--indigo) -1px 1px 3px;
}

.about-cnt h3 {
    color: var(--indigo);
    padding-bottom: .3rem;
}

.company-img { 
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding-block: 1rem;
    width: 100%;
}