.taal {
    display: flex;
    background-color: #fff;
    border-bottom: 2px solid #000000;
    box-shadow: #525252 1px 2px;
    padding: 0 2em;
    overflow-x: scroll;
}

.category-title {
    text-align: center;
    font-size: clamp(.8rem, 5vw, 2rem);
    color: #41068f;
}
.exercise-container {
    padding: 0.5em;
    flex: 1 1 0;
    min-width: 150px;
}

.exercise-link {
    text-decoration: none;
}

.exercise-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #1c9b3c;
    background: linear-gradient(#a3f070e5, #bceb9ee5, #e7f8dbe5, #fff);
    border-radius: 10px;
    box-shadow: 2px 4px #525252;
    padding: 0.8em;
}

.exercise-card:hover {
    box-shadow: 2px 4px #dbcece;
        background: linear-gradient(#a3f070e5, #bceb9ee5, #e7f8dbe5, #fff, #e7f8dbe5, #bceb9ee5, #a3f070e5);
}

.exercise-card:focus {
    box-shadow: 2px 4px #fffefe;
}

.exercise-header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #094d1a;
    font-size: clamp(1rem, 2vw, 1.9rem);
}

.exercise-text {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
        font-weight: 700;
        color: #094d1a;
    text-align: center;
    line-height: clamp(1rem, 2vw, 1.1rem);
}
.exercise-img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 0.2 / 0.2;
}