@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-white: #f6f9f6;
    --main-yellow: #ecff00;
    --main-red: #fb031c;
    --main-green: #11ff27; 
    --main-blue: #003cfa;
    --main-purple: #af09f1;
    --main-orange: #ff9100;
    --main-black: #1c1c1c; 
    --main-grey: #979796;
    --main-brown: #8a5207;
    --main-br-10: 10px;
    --main-bc-prgbar: hsla(126, 100%, 80%, 0.5);
}

.main-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: .4rem;
    background-color: #adebb3;

}

a {
    display: inline;
}

/* 
/*
    All buttons
*/
.button {
    font-family: "Montserrat";
    font-size: 2rem;
    border-color: transparent;
}

.start {
    padding: 4rem;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--main-red);
}

.start:hover,
.start:focus,
.start:active {
    background-color: var(--main-green);
}

#nextButton {
    display: none;
}


#quiz-container {
    display: none;
    margin-inline: auto;
    background-color: #e0e0e0;
    justify-items: center;
    margin-inline: auto;
}   

#question{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: bold;
    padding: .8rem;
}

.answers {
    display: grid;
}

.option {
    width: 200px;
}

#correct, #incorrect {
    display: none;
    color: var(--main-green);
    font-size: 5.4rem;  
}

#incorrect {
    color: var(--main-red);
}

